nav {
  font-family: 'Source Code Pro', monospace;
  background-color: teal;
}

.black {
  color: black;
  font-size: large;
}

body {
  background-color: white;
}

footer {
  padding-top: 10;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 80px;
  background-color: teal;
  text-align: center;
}

h1 {
  font-family: 'Dosis', sans-serif;
  color: lightblue;
}

footer a {
  color: lightblue;
}

.main {
  padding-bottom: 200px;
}

.hasOutline {
  outline: solid teal 4px;
}

.portfolio {
  text-align: center;
}

@media screen and (max-width: 500px) {
  footer {
      height: 120px;
      line-height: 40px;
  }

  main {
      padding-bottom: 500px;
  }
}